<!-- Header -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">
          ScienceTech Ltd
        </h1>
        <p class="lead mb-5 text-white-50">
          Welcome to ScienceTech.Ltd

          We live in uncertain times. The business world has changed beyond recognition in recent weeks - and being digitally connected has never been more important. Find out how digital transformation can help businesses respond now and thrive in the future.
        </p>
      </div>
    </div>
  </div>
</header>
